header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px rgba($tertiary, 0.2) solid;
  z-index: 1;
  background-color: $secondary;

  & > div {
    font-family: $accent-font;
    font-size: 1.5rem;
  }

  & + div {
    margin-top: 100px;
  } 
}

nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 10px;
  padding-top: 1em;
}

.nav-item {
  text-decoration: none;
  color: $primary;
  padding: 0.4em 0.5em;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: $primary;
    height: 2px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover:before, &:focus:before, &:active:before, &-active:before {
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  header {
    flex-flow: row;
    justify-content: space-between;
    padding: 1.5rem 3rem;
  }

  nav {
    padding-top: 0;
  }
}
