.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  & img {
    width: 15rem;
    height: 15rem;
  }

  & h2 {
    font-family: $main-font;
    margin-bottom: 2rem;
  }

  & a {
    color: $primary;
    font-weight: 900;
  }
}